<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 85vh;">
			<h1>Tasks Manager</h1>
			<br>
			<a th:href="@{/tasks}">
				<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
					Get started
				</button>
			</a>
	</div>
</body>
</html>